[Desktop Entry]
Name[cs]=Blackbox
Name[de]=Blackbox
Name[es]=Blackbox
Name[fr]=Boîte Noire
Name[it]=Scatola nera
Name[nl]=Blackbox
Name[ru]=Чёрный Ящик
Name[sv]=Blackbox
Name[tr]=Kara Kutu
Name[zh_CN]=Blackbox
Name[pt_BR]=Blackbox
Name=Blackbox
Exec=blackbox-terminal
Terminal=false
Type=Application
Categories=GNOME;GTK;System;TerminalEmulator;
StartupNotify=false
Keywords[cs]=Terminal;terminal;shell;prompt;command;commandline;cmd;box;příkazový řádek;terminál;
Keywords[de]=Terminal;terminal;shell;prompt;kommando;kommandozeile;cmd;box;
Keywords[es]=Terminal;terminal;shell;prompt;command;commandline;cmd;box;comando;línea;consola;caja;
Keywords[fr]=Terminal;terminal;shell;prompt;command;commandline;cmd;box;ligne de commande;boîte;
Keywords[it]=Terminale;terminale;shell;prompt;comando;riga;cmd;black;box;scatola;nera
Keywords[nl]=Terminal;terminal;shell;prompt;opdracht;commando;opdrachtregel;cmd;box;
Keywords[ru]=Терминал;терминал;оболочка;строка;команда;командная строка;cmd;box;
Keywords[sv]=Terminal;terminal;skal;prompt;kommando;kommandorad;cmd;box;
Keywords[tr]=Uçbirim;uçbirim;shell;kabuk;komut satırı;komut;cmd;box;kutu;
Keywords[zh_CN]=Terminal;terminal;shell;prompt;command;commandline;cmd;box;
Keywords[pt_BR]=Terminal;terminal;shell;prompt;command;commandline;cmd;box;comando;linha;console;
Keywords=Terminal;terminal;shell;prompt;command;commandline;cmd;box;
Icon=org.gnome.Terminal
X-GNOME-UsesNotifications=true
